<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <rewrite>
      <outboundRules>
        <!-- Rule to disable cache for CSS files -->
        <rule name="NoCacheForCSS" enabled="true">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="\.css$" />
          </conditions>
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <!-- Rule to disable cache for JS files -->
        <rule name="NoCacheForJS" enabled="true">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="\.js$" />
          </conditions>
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <!-- Rule to disable cache for HTML files -->
        <rule name="NoCacheForHTML" enabled="true">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="\.html$" />
          </conditions>
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <!-- General rules to disable caching -->
        <rule name="NoCacheForAll" enabled="true">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <rule name="AddPragmaNoCache" enabled="true">
          <match serverVariable="RESPONSE_Pragma" pattern=".*" />
          <action type="Rewrite" value="no-cache" />
        </rule>
        <rule name="AddExpiresHeader" enabled="true">
          <match serverVariable="RESPONSE_Expires" pattern=".*" />
          <action type="Rewrite" value="-1" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>